!!!
html(lang="en")
	include head
	body
		if id
			h2 Edit Point of Interest
		else
			h2 Add Point of Interest
		#addNodeForm.forms
			h3 Node Information
			form(id='form')
				input(type='hidden', name='posx', value=x)
				input(type='hidden', name='posy', value=y)
				input(type='hidden', name='floor', value=floor)

				.formLine
					label(for='id').disabled Unique ID:
					input(id='id', name='id', readonly='readonly', value=id).disabled
				.formLine
					label(for='name') Name of point:
					input(id='name', name='name', value=name)
				.formLine
					label(for='locationType') Location Type:
					select(id='locationType', name='locationType', data-default-value=locationType)
						option(id='loc_amenities', value='amenities').locationtype Amenities
						option(id='loc_patientroom', value='patientroom').locationtype Patient Room
						option(id='loc_conference', value='conference').locationtype Conference Room
						option(id='loc_lounge', value='lounge').locationtype Lounge
						option(id='loc_entrance', value='entrance').locationtype Entrance
						option(id='loc_restroom', value='restroom').locationtype Restroom
						option(id='loc_food', value='food').locationtype Food
						option(id='loc_atm', value='atm').locationtype ATM
						option(id='loc_waiting', value='waiting').locationtype Waiting Room
						option(id='loc_nurse', value='nurse').locationtype Nurse Station

				.formLine
					input(id='type', type='hidden', name='type', value=type)
					if type
						label(for='type').disabled Node Type:
						span.disabled= type
					else
						button(data-type='endpoint').create Endpoint
						button(data-type='junction').create Junction
				.formButtons
					button(id='cancel') Cancel
					if id
						button(id='save') Save
						button(id='delete') Delete

		if id
			#connections.forms
				.addDelete
					h3 Delete a connection
					ul
						each connection, target in connections
							li.connection
								button(data-from=target,data-to=id).deleteConnection Delete
								=graph[target].name

				.addDelete
					h3 Add a new connection
					form(id='connform')
						input(type='hidden', name='from', value=id)
						.formLine
							label(for='to') Target:
							select(name='to')
								each node, nid in graph
									if (type=='junction' || node.type=='junction') && (node.pos[2] == floor) && (node.type == 'junction' || node.type=='endpoint') && (nid != id)
										option(value=nid)=node.name
						.formLine
							label(for='fromDesc') Target to POI:
							input(name='fromDesc')
						.formLine
							label(for='toDesc') POI to Target:
							input(name='toDesc')
						button(id='addcon') Add Connection

		script(type='text/javascript', src='/js/addNodeForm.js')