!!!
html(lang="en")
	include head
	body
		#addNodeForm.forms
			h2 Add Point of Interest
			form(id='form')
				input(type='hidden', name='posx', value=x)
				input(type='hidden', name='posy', value=y)
				input(type='hidden', name='floor', value=floor)

				.formLine
					label(for='id').disabled Unique ID:
					input(id='id', name='id', readonly='readonly', value=id).disabled
				.formLine
					label(for='name') Name of point:
					input(id='name', name='name', value=name)
				.formLine
					label(for='type') Type:
					if type
						span= type
						input(type='hidden', name='type', value=type)
					else
						select(id='type', name='type')
							option(value='endpoint') Endpoint
							option(value='junction') Junction
				.formButtons
					button(id='save') Save
					button(id='cancel') Cancel

				if id
					button(id='delete') Delete

		#connections
			each connection in connections
				.connection
					=connection.name
					

		script(type='text/javascript', src='/js/addNodeForm.js')