!!!
html.no-hs(lang="en")
	include head
	meta(id="node", content= from.id)
	body
		include header
			include navigation
		.contentRepeat
			.content
				h2 Find your destination
				ul.find
					li.expando
						div.findCategory Nearest...
						ul.hidden
							li.expandee
								a(href= '/nearest/nurse/' + from.id) Nurse Station
							li.expandee
								a(href= '/nearest/food/' + from.id) Food
							li.expandee
								a(href= '/nearest/restroom/' + from.id) Restroom
							li.expandee
								a(href= '/nearest/atm/' + from.id) ATM
							li.expandee
								a(href= '/nearest/lounge/' + from.id) Lounge
					li.expando
						div.findCategory Conference Rooms
						ul.hidden
							for item in nodes.conference
								li.expandee
									a(href= '/route/' + from.id + '/' + item.id)= item.name
					li.expando
						div.findCategory Patient Rooms
						ul.hidden
							for item in nodes.patientroom
								li.expandee
									a(href= '/route/' + from.id + '/' + item.id)= item.name
					li.expando
						div.findCategory Lounges
						ul.hidden
							for item in nodes.lounge
								li.expandee
									a(href= '/route/' + from.id + '/' + item.id)= item.name
					li.expando
						div.findCategory Entrances
						ul.hidden
							for item in nodes.entrance
								li.expandee
									a(href= '/route/' + from.id + '/' + item.id)= item.name
					li.expando
						div.findCategory Misc.
						ul.hidden
							for item in nodes.etc
								li.expandee
									a(href= '/route/' + from.id + '/' + item.id)= item.name

		script(type='text/javascript', src='/js/interstitial.js')

		include footer


		//amenities
		//nurse station
		//patient rooms
		//conference rooms
		//lounges
		//entrances