!!!
html.no-hs(lang="en")
	include head
	meta(id="node", content= from.id)
	body
		include header
		.contentRepeat
			.content
				include navigation
				br
				ul
					li.expando Nearest...
						ul.hidden
							a(href= '/nearest/nurse/' + from.id)
								li Nurse Station
							a(href= '/nearest/food/' + from.id)
								li Food
							a(href= '/nearest/restroom/' + from.id)
								li Restroom
							a(href= '/nearest/atm/' + from.id)
								li ATM
							a(href= '/nearest/lounge/' + from.id)
								li Lounge
					li.expando Conference Rooms
						ul.hidden
							for item in nodes.conference
								a(href= '/route/' + from.id + '/' + item.id)
									li= item.name
					li.expando Patient Rooms
						ul.hidden
							for item in nodes.patientroom
								a(href= '/route/' + from.id + '/' + item.id)
									li= item.name
					li.expando Lounges
						ul.hidden
							for item in nodes.lounge
								a(href= '/route/' + from.id + '/' + item.id)
									li= item.name
					li.expando Entrances
						ul.hidden
							for item in nodes.entrance
								a(href= '/route/' + from.id + '/' + item.id)
									li= item.name
					li.expando Misc.
						ul.hidden
							for item in nodes.etc
								a(href= '/route/' + from.id + '/' + item.id)
									li= item.name

		script(type='text/javascript', src='/js/interstitial.js')

		include footer


		//amenities
		//nurse station
		//patient rooms
		//conference rooms
		//lounges
		//entrances