!!!
html.no-hs(lang="en")
	include head
	script(type="text/javascript", src="/js/route.js")
	body
		include header
			include navigation
		.contentRepeat
			.content
				h1  Routing!
				each path in waypoints.routes
					canvas(style= 'position: absolute; left:0px; right:0px;', id= path.id, class= 'line', width= path.width, height=path.height, data-x1=path.x, data-y1=path.y, data-orient=path.orient, data-floor=path.floor)
				each floor in waypoints.floors
					img(data-floor= floor.id, src= floor.img)
				p Distance: #{waypoints.dist}
				each waypoint in waypoints.tbt
					li=waypoint
			include footer